#hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    height: 100vh;
    padding: 0 3vw;
}

#hero-left {
    align-items: start;
}

#hero h1 a {
    text-decoration: none;
}

#hero-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 600px;
}

#hero-left p {
    margin: 0;
}

#hero-left ul {
    margin-top: 10px;
}

#hero-left ul li {
    margin-bottom: 6px;
}

#hero-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#hero-avatar {
    width: 300px;
    border-radius: 16px;
    border: 3px solid rgb(0, 230, 0);
}

#hero-right #socials {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#hero-right p {
    margin: 5px;
}

#hero-buttons {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 16px;
}

@media only screen and (max-width: 900px) {
    #hero {
        flex-direction: column;
        justify-content: center;
    }
}

#aboutme-section, #pastwork-section, #contact-section {
    margin: auto;
    width: 90%;
    max-width: 1100px;
}

#aboutme-section, #pastwork-section {
    margin-bottom: 200px;
}

#contact-section {
    margin-bottom: 50px;
}

#pastwork-section #works-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
}

#pastwork-section .work-video { 
    width: 100%;
    aspect-ratio: 16/9;
}

#pastwork-section .work-title {
    color: rgb(0, 183, 0);
    margin-top: 10px;
    margin-bottom: 5px;
}

#pastwork-section .work-desc {
    color: rgb(220, 220, 220);
    font-size: 1rem;
    margin-top: 0;
}

#pastwork-section .work hr {
    margin-bottom: 20px;
}

#contact-container {
    margin: auto;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(0, 183, 0);
    padding: 30px;
}

#contact-container p {
    margin: 0;
}

#contact-container h2 {
    margin-bottom: 30px;
}

#contact-container button img {
    filter: invert(1);
}

@media only screen and (max-width: 900px) {
    #hero-avatar {
        width: 200px;
    }

    #hero-left {
        align-items: center;
    }
    
    #hero p, #hero li {
        font-size: 0.9rem;
    }

    #pastwork-section #works-grid {
        grid-template-columns: 1fr;
    }
}