#hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    height: 100vh;
    padding: 0 3vw;
}

#hero h1 {
    color: white;
}

#hero h1 a {
    text-decoration: none;
}

#hero-left, #hero-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
}

#hero-avatar {
    width: 300px;
    border-radius: 16px;
    border: 3px solid rgb(0, 230, 0);
}

#hero-buttons {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 16px;
}

@media only screen and (max-width: 900px) {
    #hero {
        flex-direction: column;
        justify-content: center;
    }
}

#aboutme {
    margin: auto;
    width: 90%;
    max-width: 1000px;
}