#hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    height: 100vh;
    padding: 0 3vw;
}

#hero-left {
    align-items: start;
}

#hero h1 a {
    text-decoration: none;
}

#hero-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 600px;
}

#hero-left p {
    margin: 0;
}

#hero-left ul {
    margin-top: 10px;
}

#hero-left ul li {
    margin-bottom: 6px;
}

#hero-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#hero-avatar {
    width: 300px;
    border-radius: 16px;
    border: 3px solid rgb(0, 230, 0);
}

#hero-right #socials {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#hero-right p {
    margin: 5px;
}

#hero-buttons {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 16px;
}

@media only screen and (max-width: 900px) {
    #hero {
        flex-direction: column;
        justify-content: center;
    }
}

#aboutme, #pastwork {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    margin-bottom: 300px;
}