@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-color: black;
    color: white;
    font-family: "Source Code Pro", monospace;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.57) 100%);
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 2;
}

header .container {
    flex: 1;
}

header #links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

header #links img {
    width: 30px;
}

header #links img:hover {
    opacity: 0.5;
    transition: 0.3s;
}

header nav a {
    font-size: 1.3rem;
    text-decoration: none;
}

#background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -100;

    background-image: url("../assets/img/code-background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.02;
}

@media only screen and (max-width: 900px) {
    header {
        flex-direction: column;
        gap: 10px;
    }

    header nav {
        flex: 0;
        gap: 16px;
    }

    header .container {
        flex: 0;
    }

    header nav a {
        font-size: 1rem;
    }
}

/* */
p,a {
    font-size: 1.1rem;
}

h1 a, h2 a, h3 a, h4 a {
    font-size: inherit;
}

a,.green,h1,h2,h3,h4,h5,h6 {
    color: rgb(0, 237, 0);
}

a:hover {
    color: rgb(0, 177, 0);
    transition: 0.3s;
}

button {
    font-family: "Source Code Pro", monospace;
    padding: 14px 24px;
    font-size: 1.1rem;
    background-color: rgb(0, 237, 0);
    border-radius: 26px;
    font-weight: 600;
    border: 0;
}

button:hover {
    cursor: pointer;
    background-color: rgb(0, 177, 0);
    transition: 0.3s;
}

button.secondary {
    border: 2px solid rgb(0, 237, 0);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 237, 0);
}

button.secondary:hover {
    border: 2px solid rgb(0, 177, 0);
    color: rgb(0, 177, 0);
}